@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

p, a, span, small,
h1,h2,h3,h4,h5,h6,
button, input, label, select {
	font-family: 'JetBrains Mono', monospace;
}
p {
	margin: 0;
}

body {
	color: #141414;
	background-color: #f0f0f0;
	margin: 0;
}

input {
	border: none;
	padding: 5px 10px;
}
input[type='number'] {
	width: 60px;
}
input[type='checkbox'] {
	width: 18px;
	height: 18px;
}

p, label {
	display: block;
	margin-top: 15px;
}


button {
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
}
button:hover {
	cursor: pointer;
}
button.big {
	height: 40px;
	width: 80px;
}

.red {
	color: #ff6464;
	border-color: #ff6464;
	background-color: #fee;
}
.green {
	color: #05d432;
	border-color: #05d432;
	background-color: #efe;
}
